/* The Lightbox (background) */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}

.lightbox-content {
  display: flex;
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 80%;
}

/* The Close Button */
.lightBoxClose {
  position: absolute;
  top: 10px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightBoxClose:hover,
.lightBoxClose:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.lightBoxClose i,
.lightboxNext i,
.lightboxPrev i {
  color: #901c1c;
  font-size: 24px;
}

.mySlides {
  display: table;
  width: 100%;
  position: relative;
}

.mySlides > .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mySlides > .slide > .media-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mySlides > .slide > .media-container > img,
.mySlides > .slide > .media-container > video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Afficher seulement la première cellule */
.mySlides > .slide:first-child {
  display: block;
}

.mySlides > .slide p {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

/* Next & previous buttons */
.lightboxPrev,
.lightboxNext {
  width: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
