@import url("contact.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

h2 {
  color: #d3573c;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 0;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.location {
  color: #901c1c;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 100px 0;
}

.photographer_section article,
.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a {
  flex-direction: column-reverse;
  text-decoration: none;
}

.photographer_section article a h2 {
  font-size: 36px;
}

.photographer_section article a img,
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section article .location {
  font-size: 13px;
}

.photographer_section article .tagline {
  color: black;
  font-size: 10px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3px;
}

.photographer_section article .price {
  color: #757575;
  font-size: 9px;
  font-weight: 400;
  margin: 0;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 50px;
}

.photograph-header article h2 {
  font-size: 64px;
}

.photograph-header article .location {
  font-size: 24px;
}

.photograph-header article .tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}
